@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.wrapper {
  background-color: #f5f6fa;
}

.wrapper header {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.8rem 6.188rem 0 6.25rem;
  background-color: #fff;
  display: flex;
  align-items: baseline;
  gap: 4rem;
  border-bottom: solid 1px #e8e8e8;
}

.wrapper h1 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar li {
  font-family: Montserrat;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

.navbar a {
  color: #797979;
  text-decoration: none;
}

.navbar a.active {
  color: #121212;
}